body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #436e9e;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000e8;
  margin-top: 5px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
}
a:hover {
  background-color: #2e2e2e;
}
