<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="sign-container">
      <h1>Sign In</h1>
      <form action="/auth/sign-in" method="post" class="form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <button type="submit">Sign In</button>
      </form>
      <a href="/sign-up" class="button">To Registration</a>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
